.Rproj.user
.Rhistory
.RData
.Ruserdata

*.xls
*.xlsx
*.doc
*.docx
.DS_Store
world-epi
*_files/

*.pdf
*.html
*.Rcheck/
*.tar.gz

images
inst/doc
docs

.vscode
build/
_codeql_detected_source_root
.github/pkg.lock
